<div class="btnPickPlImage2 {% if errors|length > 0 %}uncorrect{% endif %}" data-width="{{ width }}" data-height="{{ height }}" style="max-width: 100%; width: {{ width }}px; height: {{ height }}px"
     {% if to_format %}data-toFormat="{{ to_format }}"{% endif %}
>
    <div>
        {% if width > 100 and height > 100 %}{% trans %}plcommonbundle.uploadPhoto{% endtrans %}{% endif %}
        <div style="margin: 8px 0;">({{ width }}x{{ height }})</div>
        <img src="{{ asset("bundles/plcommon/img/photo.svg") }}" alt="">
    </div>
</div>