<img src="{{ asset(form.vars.data) }}?v={{ form.parent.vars.data.updatedAt|timestamp }}" style="max-width: 100%; width: auto; height: auto;" class="btnPickPlImage2 {% if errors|length > 0 %}uncorrect{% endif %}" data-width="{{ width }}" data-height="{{ height }}"
     {% if to_format %}data-toFormat="{{ to_format }}"{% endif %}
>
