<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for url in urls %}
        <url>
            <loc>{{ url.loc }}</loc>

            {% if url.lastmod %}
                <lastmod>{{ url.lastmod }}</lastmod>
            {% endif %}

            {% if url.changefreq %}
                <changefreq>{{ url.changefreq }}</changefreq>
            {% endif %}

            {% if url.priority %}
                <priority>{{ url.priority }}</priority>
            {% endif %}
        </url>
    {% endfor %}
</urlset>