.btnPickPlImage2{
    text-transform: uppercase;
    color: white;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-align: center;
    height: 242px;
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
}
img.btnPickPlImage2{
    min-width: 40px;
}
.btnPickPlImage2 > div{
    max-width: 160px;
}

div.btnPickPlImage2:hover{
    background: #aaa;
}
div.btnPickPlImage2{
    background: #bbb;
}
div.btnPickPlImage2 img{
    max-width: 30px;
}
.dz-preview{
    display: none;
}
.plImageHolder{
    display: inline-block;
    position: relative;
}
.plImageHolder-progress{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plImageHolder-progress-bar-container{
    background: white;
    height: 20px;
    width: 90px;
    position: relative;
    -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
}
.plImageHolder-progress-bar{
    background: #b5b5b5;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.plImageHolder-progress-texte{
    color: black;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
}