{% block pl_imagepicker_widget %}
    <div class="photoUploader">
        {% if displayButton %}
            <div class="uploadBtn">
                &nbsp;
            </div>
        {% endif %}

        <img src="{% if value is not empty %}{{ asset(value) }}{% elseif defaultImage is defined %}{{ defaultImage }}{% endif %}" id="{{ id }}_picker"
             style="width: {{ width}}px; height: {{ height}}px; cursor: pointer; border: 1px solid #fff; display: inline-block; " class="btnFilepicker" data-services="{{ services|json_encode() }}" data-fit="{{ fit }}" data-path="{{ path }}" data-width="{{ width }}" data-height="{{ height }}" >
    </div>
    <input type="hidden" id="{{ id }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ asset(value) }}"{% endif %}>
{% endblock %}



{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if placeholder is defined and placeholder is not empty %}placeholder="{{ placeholder }}" {% endif %}/>
{%- endblock form_widget_simple %}





{% block pl_image2_row %}
    {%- if errors|length > 0 -%}
        <div class="bold smallMargin">{{- form_errors(form) -}}</div>
    {%- endif -%}
    {{- form_widget(form) -}}
{% endblock %}

{% block pl_image2_widget %}
<div class="plImageHolder" style="position: relative;">
    {% if form.vars.data is not empty %}
    {% include "PlCommonBundle:PlImage2:not_empty.html.twig" %}
    {% elseif empty_template != null %}
    {% include empty_template %}
    {% else %}
    {% include "PlCommonBundle:PlImage2:empty.html.twig" %}
    {% endif %}
    <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} style=""/>
</div>
{% endblock %}


{% block pl_summernote_widget %}
    <div>
        <div class="summernote">{{ value|raw }}</div>
        <textarea class="hiddenTxt" cols="30" rows="10" {{ block('widget_attributes') }} style="display: block !important;">{{ value }}</textarea>
        {#<textarea class="hiddenTxt" cols="30" rows="10" style="display: none;" {{ block('widget_attributes') }}>{{ value }}</textarea>#}
    </div>
{% endblock %}
